n8n/workflows/ats_optimization.json
{
  "name": "Workflow 3: ATS Optimization",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimize-resume"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "prompt": "Rewrite this resume to optimize it for the following job description. Include keywords and maintain ATS-friendly formatting.\n\nResume: {{ $json.resume }}\nJD: {{ $json.jd }}"
      },
      "name": "Gemini Optimizer",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "ats_scores",
        "data": "={{ $json }}"
      },
      "name": "Save Score",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Optimizer": {
      "main": [
        [
          {
            "node": "Save Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
