n8n/workflows/job_search.json
{
  "name": "Workflow 2: Job Search",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 1
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.scrapingdog.com/linkedinjobs",
        "options": {}
      },
      "name": "Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "table": "jobs",
        "data": "={{ $json }}"
      },
      "name": "Save Jobs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Search Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Jobs": {
      "main": [
        [
          {
            "node": "Save Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
