n8n/workflows/resume_upload.json
{
  "name": "Workflow 1: Resume Upload & Parse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-resume",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "prompt": "Parse this resume and extract skills, experience, and contact info in JSON format."
      },
      "name": "Gemini Parser",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "table": "resumes",
        "data": "={{ $json }}"
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Parser": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
